<html>
  <head>
    <meta charset="utf8">
    <title>KO-CEK - Validation Result</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        font-family: 'Helvetica Condensed', sans-serif;
        font-weight: 500;
        font-size: 16px;
        background: #FFFFFF;
        -webkit-print-color-adjust: exact;
        box-sizing: border-box;
      }

      .page {
        position: relative;
        height: 29.7cm;
        width: 21cm;
        display: block;
        background: #FFFFFF;
        page-break-after: auto;
        margin: 50px;
        overflow: hidden;
      }

      @media print {
        body {
          background: #FFFFFF;
        }

        .page {
          margin: 0;
          padding: 5%;
          height: 90%;
          width: 90%;
        }
      }

      .page.first {
        border-left: 5px solid green;
      }

      .group {
        margin-top: 3mm;
      }

      .line {
        color: #474747;
        position: relative;
      }

      .center {
        text-align: center;
      }

      .company-logo {
        width: 20%;
        margin-bottom: 20px;
      }

      .header {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 20px;
      }

      .section {
        margin-bottom: 60px;
      }

      .section-head {
        color: #474747;
        font-size: 20px;
        font-weight: 700;
        position: relative;
      }

      .logo {
        position: relative;
        width: 80%;
        left: 10%;
        top: 15%;
      }

      .left-column {
        width: 50%;
        float: left;
      }

      .right-column {
        width: 50%;
        float: left;
      }

      .identity-image {
        width: 100%;
      }

    </style>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <img class="company-logo" src="https://www.ko-cek.com/images/logo-black.svg" >
      </div>
      <div class="left-column">
        <div class="section">
          <div class="section-head">Identitas Nasabah</div>
          <div class="group">
            <div class="line">Nama Lengkap:
              <span>
                {{ name }}
              </span>
            </div>
            <div class="line">No. Identitas:
              <span>
                {{ identityNumber }}
              </span>
            </div>
            <div class="line">No. Telepon:
              <span>
                {{ phoneNumber }}
              </span>
            </div>
            <div class="line">Pekerjaan:
              <span>
                {{ job }}
              </span>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-head">Informasi Pinjaman</div>
          <div class="group">
            <div class="line">Jumlah Pinjaman:
              <span>
              IDR {{ loanNominal }}
            </span>
            </div>
            <div class="line">Jenis Pinjaman:
              <span>
                {{ loanType }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="section">
          <div class="section-head">Foto Kartu Identitas</div>
          <div class="group">
            <img class="identity-image" src="{{ identityCardImage }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="header">
        <img class="company-logo" src="https://www.ko-cek.com/images/logo-black.svg" >
      </div>
      <div class="left-column">
        <div class="section">
          <div class="section-head">Foto Kartu Keluarga</div>
          <div class="group">
            <img class="identity-image" src="{{ familyCardImage }}" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
